header{
    border-bottom: double 4px rgb(165, 165, 165);
    padding: 85px;
}
body{
    background-color: rgb(160, 160, 160)
    color( rgb(85, 0, 124)) ;
    font-family:"Honk&display"
    
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
 .video{
    justify-content: center;
 }